* {
        transition: all 0.1s ease;
}
html {
        font-family: monospace;
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        min-height:100%;
}
body {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 80%;
        max-width: 500px;
}
body h1 {
        display: block;
        text-align: center;
}
p.subtitle {
        font-style: italic;
        font-size: 14px;
        margin-top: 2px;
}
img.logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
}
div.actions {
        border: 1px solid lightgrey;
        padding: 0px 20px 20px 20px;
        margin-bottom: 20px;
}
div.actions a {
        display: flex;
        align-items: center;
        gap: 16px;
        text-decoration: none;
        margin-bottom: 20px;
        height: 20px;
}
div.actions a:hover {
        border-left: 2px solid black;
        padding-left: 10px;
}
div.actions a:before {
        content: "";
        display: block;
        background: var(--icon) no-repeat;
        background-size: cover;
        height: 20px;
        aspect-ratio: 1;
        float: left;
}
div.actions h3 {
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgrey;
}
img.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
